code, pre {
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  padding: 0 3px 2px;
}

code {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  color: #DD1144;
  padding: 2px 4px;
  white-space: nowrap;
}

pre {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 10px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  border-left: 6px solid green;
  padding: 0 20px;
}
