.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

//@media (min-width: 768px) {
//  .container {
//    max-width: 720px;
//  }
//}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

//@media (min-width: 1200px) {
//  .container {
//    max-width: 1140px;
//  }
//}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1620px;
  }
}


//.container {
//  width: 100%;
//  //padding-right: 15px;
//  //padding-left: 15px;
//  margin-right: auto;
//  margin-left: auto;
//}
//
//@media (min-width: 576px) {
//  .container {
//    max-width: 540px;
//  }
//}
//
//@media (min-width: 768px) {
//  .container {
//    max-width: 720px;
//  }
//}
//
//@media (min-width: 992px) {
//  .container {
//    max-width: 960px;
//  }
//}
//
//@media (min-width: 1200px) {
//  .container {
//    max-width: 1140px;
//  }
//}
//
//@media (min-width: 1440px) {
//  .container {
//    max-width: 1130px; //1320
//  }
//}
//
////@media (min-width: 1920px) {
////  .container {
////    max-width: 1620px;
////  }
////}
