// --fw3 --fsz21 --flh22
.--f {
  &w {
    &3 {
      font-weight: 300;
    }

    &4 {
      font-weight: 400;
    }

    &5 {
      font-weight: 500;
    }

    &6 {
      font-weight: 600;
    }

    &7 {
      font-weight: 700;
    }

    &8 {
      font-weight: 800;
    }
  }

  &sz {
    &11 {
      font-size: 11px;
    }

    &12 {
      font-size: 12px;
    }

    &17 {
      font-size: 17px;
    }

    &14 {
      font-size: 14px;
    }

    &15 {
      font-size: 15px;
    }

    &16 {
      font-size: 16px;
    }

    &18 {
      font-size: 18px;
    }

    &20 {
      font-size: 20px;
    }

    &22 {
      font-size: 22px;
    }

    &23 {
      font-size: 23px;
    }

    &27 {
      font-size: 27px;
    }
  }

  &lh {
    &21 {
      line-height: 21px;
    }

    &22 {
      line-height: 22px;
    }
  }
}
